.login-container{
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 100vh; /* Altura da viewport */
  margin: 0; /* Remove margens padrão do body */
}